{% extends 'layouts/default.njk' %}

{% set title = post.title %}
{% set codeinjection_head = post.codeinjection_head %}
{% set codeinjection_foot = post.codeinjection_foot %}

{% block content %}
<article class="blogpost">
    <header class="blogpost__header">
        <nav class="blogpost__nav">
            <a class="blogpost__home-link" href="/"><span>Home</span></a>
        </nav>
        <div class="blogpost__header-content">
            <h1 class="blogpost__title">{{ title }}</h1>
            <div class="blogpost__readtime">{{ post.html | safe | getReadingTime }} min read</div>
            <div class="blogpost__attribution-group">
                <div class="blogpost__publish-on">
                    <span>Published on </span>
                    <span><!-- Eleventy keeps removing a space here? --> </span>
                    <date class="blogpost__publish-date">{{post.published_at.toDateString() }}</date>
                </div>
                <div class="blogpost__published-by">
                    <span>Written by </span>
                    <span class="blogpost__author-name">{{ post.primary_author.name }}</span>
                </div>
            </div>
        </div>
    </header>
    <main class="blogpost__main-content">
        {% if post.feature_image %}
        <section class="blogpost__image-wrapper">
            <figure class="blogpost__featured-figure">
                <img class="blogpost__featured-image" src="{{ post.feature_image }}" alt=" ">
            </figure>
        </section>
        {% endif %}
        <section class="blogpost__post-content">
            {{ content | safe }}
        </section>
    </main>
</article>
{% endblock %}

{%- block seo -%}
    <!--Twitter Card-->
    <meta name="twitter:site" content="{{ site.twitter }}">
    <meta name="twitter:creator" content="{{ post.primary_author.twitter }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{ site.url + page.url }}">
    <meta name="twitter:title" content="{{ title }} – {{ site.title }}">
    <meta name="twitter:description" content="{{ post.excerpt }}">
    <meta name="twitter:image" content="{{ post.feature_image }}">

    <!--Schema-->
    <link rel="author" href="{{ post.primary_author.website }}">
    <link rel="publisher" href="{{ site.url }}">
    <meta itemprop="name" content="{{ title }} – {{ site.title }}">
    <meta itemprop="description" content="{{ post.excerpt }}">
    <meta itemprop="image" content="{{ post.feature_image }}">

    <!-- Facebook OpenGraph -->
    <meta property="og:url" content="{{ site.url + page.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }} – {{ site.title }}">
    <meta property="og:image" content="{{ post.feature_image }}">
    <meta property="og:description" content="{{ post.excerpt }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:locale" content="{{ site.lang }}">
    <meta property="article:author" content="{{ site.url }}">
{%- endblock -%}